@model WebApp.Sotrudniki

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sotrudniki</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_sotr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_sotr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname_sotr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname_sotr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress_sotr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress_sotr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_sotr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_sotr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_sotr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_sotr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_priema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_priema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dolzhnosti.name_dolzhn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dolzhnosti.name_dolzhn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Otdely.name_otd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Otdely.name_otd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_sotr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
